
<h2>@Model.GuideCurrent</h2>
@{
    foreach (var obj in Model.constructionObj)
    {
        <div class="row">
            <div class="col-lg-4 mt-5">
                <svg class="bd-placeholder-img rounded-circle" width="30" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">30x30</text></svg>
                <h6>Наименование: @obj.Name</h6>
                <p>Код объекта: @obj.ObjectCode</p>
                <p>Бюджет (млн. руб.): @obj.Budget.ToString()</p>
            </div>
        </div>
    }
}
